## WORK IN PROGRESS:

##Overview:

This project was inspired by seeing the difficulties experienced by small business owners like my father. The goal was to go beyond the mere observation that the Covid-19 pandemic created economic hardship: what was the relationship between Covid's spread and business difficulties? Did this relationship vary between states? Did it change over time? 
This project aims to begin answering these questions, with the hope of better equipping small business owners with the tools to react.

### Data Details: 
Economic and Covid Data is sourced primarily from Opportunity Insights Economic tracker, a database set up by Harvard researchers. I will briefly overview the data contents, but for more detail see their github and paper:

"The Economic Impacts of COVID-19: Evidence from a New Public Database Built Using Private Sector Data", by Raj Chetty, John Friedman, Nathaniel Hendren, Michael Stepner, and the Opportunity Insights Team. November 2020. Available at: https://opportunityinsights.org/wp-content/uploads/2020/05/tracker_paper.pdf

Currently, the 4 main tables/datasets I am importing are:
* StateID table, for tracking identity of region referred to in each state level dataset
* Small Business Revenue
*Consumer spending

Data before March 13,2020 (the date of the US declaration of national emergency over the novel coronavirus) was omitted. For further details see: https://www.whitehouse.gov/briefing-room/presidential-actions/2021/02/24/notice-on-the-continuation-of-the-national-emergency-concerning-the-coronavirus-disease-2019-covid-19-pandemic/



Further links:
*   https://github.com/OpportunityInsights/EconomicTracker/blob/main/docs/oi_tracker_data_dictionary.md
*   https://github.com/OpportunityInsights/EconomicTracker/blob/main/docs/oi_tracker_data_documentation.md
*   https://github.com/OpportunityInsights/EconomicTracker/tree/main/data

# Set up environment
Declare functions and import library

In [66]:
#import libraries
import pandas as pd
import numpy as np
import scipy as sc
import requests
import io
import seaborn as sns
import matplotlib.pyplot as plt
from pprint import pprint
import math

from sklearn import datasets, linear_model, preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import datetime as dt

%matplotlib inline

In [67]:
## DATA CLEANING FUNCTION STORAGE
def add_state_col(df, stateID_df, join_method):
## TO: join a target dataframe with the corresponding state ID 
  if join_method == 'join':
    print('joined state ID with target DF')
    new_df = pd.merge(df, stateID_df, how = 'left', on = 'statefips')
    new_df.rename(columns = {"statename":'state'}, inplace = True)
  else:
    #extract and transform vector of state ID for each column
    state_id_by_day = list(df['statefips'].array)
    state_list_comp_df = [(stateID_df['statename'][stateID_df['statefips'] == key].array[0]) for index,key in enumerate(state_id_by_day)]
    df['state']= state_list_comp_df
    new_df = df
  return new_df

def slice_dict(input_dict, start_indx, end_indx):
  dict_slice = [input_dict[key] for key in list(input_dict.keys())[start_indx:end_indx]]
  return dict_slice

  ## DATA CLEANING FUNCTIONS
def replace_nonnumeric_entries_df_force_nan(test_df, protected_cols):
  mutable_cols = [i for i in test_df.columns.array if i not in protected_cols]
  for index, col in enumerate(test_df.loc[:,mutable_cols].columns):
    test_df.loc[:,col] = pd.to_numeric(test_df.loc[:,col], errors = 'coerce') #force column to become numeric, returning nan if not 
  test_df = test_df.fillna(value = 0) #fill any NA values with 0 
  return test_df

def convert_obj_col_to_numeric(df): #, new_type):
  for col in df.columns:
    if df[col].dtype == object:
      df[col] = df[col].apply(pd.to_numeric, errors = 'coerce') #stack overflow version
      #original version: df[col] = df[col].astype(new_type)
  return df

def find_mutable_cols(df, protected_cols):
  mut_cols = [j for j in list(df.columns) if j not in protected_cols]
  return mut_cols

def trim_pre_covid(df):
  #date_covid_start is date that national emergency was declared 
  march_indx = [df[(df.loc[:,'month'] == 3) & (df.loc[:, 'day'] == 13) & (df.loc[:, 'year'] == 2020)].index[0]] #row in each dataframe that is equal to march 14
  return march_indx

def drop_pre_emergency_rows(target_df, emergency_index):
  ## TO: actually trim the dataframe using the fed in value
  target_df.drop(target_df.index[0:emergency_index], inplace = True)

In [68]:
#set what plot type to use 
#https://matplotlib.org/stable/gallery/style_sheets/style_sheets_reference.html
plt.style.use('seaborn-deep')

# Import Data and evaluate format

In [69]:
#Declare URL for important opportunity tracker data 
raw_covid_rate_by_state_url = 'https://raw.githubusercontent.com/OpportunityInsights/EconomicTracker/main/data/COVID%20-%20State%20-%20Daily.csv' #current to 2022-01-31
state_IDs_url = 'https://raw.githubusercontent.com/OpportunityInsights/EconomicTracker/main/data/GeoIDs%20-%20State.csv' #IDs used for each state in later tables
spending_by_state_url = 'https://raw.githubusercontent.com/OpportunityInsights/EconomicTracker/main/data/Affinity%20-%20State%20-%20Daily.csv' #affinity is personal spending #ends 2021-11-24
revenue_by_state_url = 'https://raw.githubusercontent.com/OpportunityInsights/EconomicTracker/main/data/Womply%20-%20State%20-%20Daily.csv' #womply is small busines revenue #ends 2021-07-09

In [70]:
#import OT data
covid_rate_per_state = pd.read_csv(raw_covid_rate_by_state_url, dtype = 'str')
state_IDs = pd.read_csv(state_IDs_url, dtype = 'str')
spending_per_state = pd.read_csv(spending_by_state_url, dtype = 'str')
revenue_per_state = pd.read_csv(revenue_by_state_url, dtype = 'str')

Do a preliminary check on the data, inspect it for inconsistencies/mission data:

In [71]:
spending_per_state.head(1).append(spending_per_state.tail(1))

       year month day  ... spend_all_q3 spend_all_q4 provisional
0      2020     1   1  ...            .            .           0
34577  2021    11  14  ...         .162         .304           1

[2 rows x 28 columns]

In [72]:
covid_rate_per_state.head(1).append(covid_rate_per_state.tail(1))

       year month  ... booster_first_rate hospitalized_rate
0      2020     1  ...                  .                 0
38741  2022     2  ...               20.8                17

[2 rows x 30 columns]

In [73]:
state_IDs.tail(1)

   statefips statename stateabbrev state_pop2019
50        56   Wyoming          WY        578759

In [74]:
revenue_per_state.head(2)

   year month day  ... merchants_ss70 merchants_food_accommodation merchants_retail
0  2020     1  10  ...         .00308                       .00672           .00511
1  2020     1  10  ...          .0109                       .00395            .0142

[2 rows x 24 columns]

Looks like the start of both covid_rate_per_state and econ_per_state have missing values, presumably from the fact that they are from periods before COVID-19 was detected/known about. I thus in the next section clean that data, and then set the dataframes to begin after national state of emergency was declared in 2020.

# Data cleaning:
First, left join the dataframes with the corresponding statename/population for later reference.

In [75]:
#add which state each row is taken from
spending_per_state = add_state_col(spending_per_state, state_IDs, 'join')
covid_rate_per_state = add_state_col(covid_rate_per_state, state_IDs, 'join')
revenue_per_state = add_state_col(revenue_per_state, state_IDs, 'join')

joined state ID with target DF
joined state ID with target DF
joined state ID with target DF

In [76]:
spending_per_state.head(1).append(spending_per_state.tail(1))

       year month day statefips  ... provisional    state stateabbrev state_pop2019
0      2020     1   1         1  ...           0  Alabama          AL       4903185
34577  2021    11  14        56  ...           1  Wyoming          WY        578759

[2 rows x 31 columns]

In [77]:
protected_cols =['freq', 'state', 'statename', 'stateabbrev', 'state_pop2019']
revenue_per_state = replace_nonnumeric_entries_df_force_nan(revenue_per_state, protected_cols)
spending_per_state= replace_nonnumeric_entries_df_force_nan(spending_per_state, protected_cols)
covid_rate_per_state = replace_nonnumeric_entries_df_force_nan(covid_rate_per_state, protected_cols)
#remove columns before march 13, 2020
print('Row index where March 13, 2020 occurs in the Covid spread DF, the SB revenue DF, and the Consumer Spending per State are: ', trim_pre_covid(covid_rate_per_state), trim_pre_covid(revenue_per_state), trim_pre_covid(spending_per_state))
drop_pre_emergency_rows(covid_rate_per_state, trim_pre_covid(covid_rate_per_state)[0])
drop_pre_emergency_rows(spending_per_state, trim_pre_covid(spending_per_state)[0])
drop_pre_emergency_rows(revenue_per_state, trim_pre_covid(revenue_per_state)[0])

Row index where March 13, 2020 occurs in the Covid spread DF, the SB revenue DF, and the Consumer Spending per State are:  [2736] [3213] [3672]

In [78]:
#add datetime column to aid joining later
spending_per_state['datetime'] = pd.to_datetime(spending_per_state[['year', 'month', 'day']])
revenue_per_state['datetime'] = pd.to_datetime(revenue_per_state[['year', 'month', 'day']])
covid_rate_per_state['datetime'] = pd.to_datetime(covid_rate_per_state[['year', 'month', 'day']])

In [100]:
covid_rate_per_state.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36006 entries, 2736 to 38741
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     36006 non-null  int64
 1   month                    36006 non-null  int64
 2   day                      36006 non-null  int64
 3   statefips                36006 non-null  int64
 4   new_case_count           36006 non-null  float64
 5   new_death_count          36006 non-null  float64
 6   case_count               36006 non-null  float64
 7   death_count              36006 non-null  float64
 8   vaccine_count            36006 non-null  float64
 9   fullvaccine_count        36006 non-null  float64
 10  booster_first_count      36006 non-null  float64
 11  new_vaccine_count        36006 non-null  float64
 12  new_fullvaccine_count    36006 non-null  float64
 13  new_booster_first_count  36006 non-null  float64
 14  new_test_count           36006 non-null  float64
 15  test_count               36006 non-null  float64
 16  hospitalized_count       36006 non-null  float64
 17  new_case_rate            36006 non-null  float64
 18  case_rate                36006 non-null  float64
 19  new_death_rate           36006 non-null  float64
 20  death_rate               36006 non-null  float64
 21  new_test_rate            36006 non-null  float64
 22  test_rate                36006 non-null  float64
 23  new_vaccine_rate         36006 non-null  float64
 24  vaccine_rate             36006 non-null  float64
 25  new_fullvaccine_rate     36006 non-null  float64
 26  fullvaccine_rate         36006 non-null  float64
 27  new_booster_first_rate   36006 non-null  float64
 28  booster_first_rate       36006 non-null  float64
 29  hospitalized_rate        36006 non-null  float64
 30  state                    36006 non-null  object
 31  stateabbrev              36006 non-null  object
 32  state_pop2019            36006 non-null  object
 33  datetime                 36006 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(26), int64(4), object(3)
memory usage: 10.6+ MB

In [101]:
spending_per_state.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30906 entries, 3672 to 34577
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     30906 non-null  int64
 1   month                    30906 non-null  int64
 2   day                      30906 non-null  int64
 3   statefips                30906 non-null  int64
 4   freq                     30906 non-null  object
 5   spend_all                30906 non-null  float64
 6   spend_aap                30906 non-null  float64
 7   spend_acf                30906 non-null  float64
 8   spend_aer                30906 non-null  float64
 9   spend_apg                30906 non-null  float64
 10  spend_durables           30906 non-null  float64
 11  spend_nondurables        30906 non-null  float64
 12  spend_grf                30906 non-null  float64
 13  spend_gen                30906 non-null  float64
 14  spend_hic                30906 non-null  float64
 15  spend_hcs                30906 non-null  float64
 16  spend_inpersonmisc       30906 non-null  float64
 17  spend_remoteservices     30906 non-null  float64
 18  spend_sgh                30906 non-null  float64
 19  spend_tws                30906 non-null  float64
 20  spend_retail_w_grocery   30906 non-null  float64
 21  spend_retail_no_grocery  30906 non-null  float64
 22  spend_all_incmiddle      30906 non-null  float64
 23  spend_all_q1             30906 non-null  float64
 24  spend_all_q2             30906 non-null  float64
 25  spend_all_q3             30906 non-null  float64
 26  spend_all_q4             30906 non-null  float64
 27  provisional              30906 non-null  int64
 28  state                    30906 non-null  object
 29  stateabbrev              30906 non-null  object
 30  state_pop2019            30906 non-null  object
 31  datetime                 30906 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(22), int64(5), object(4)
memory usage: 7.8+ MB

In [102]:
revenue_per_state.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23375 entries, 3213 to 26587
Data columns (total 28 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   year                          23375 non-null  int64
 1   month                         23375 non-null  int64
 2   day                           23375 non-null  int64
 3   statefips                     23375 non-null  int64
 4   revenue_all                   23375 non-null  float64
 5   revenue_inchigh               23375 non-null  float64
 6   revenue_inclow                23375 non-null  float64
 7   revenue_incmiddle             23375 non-null  float64
 8   revenue_ss40                  23375 non-null  float64
 9   revenue_ss60                  23375 non-null  float64
 10  revenue_ss65                  23375 non-null  float64
 11  revenue_ss70                  23375 non-null  float64
 12  revenue_food_accommodation    23375 non-null  float64
 13  revenue_retail                23375 non-null  float64
 14  merchants_all                 23375 non-null  float64
 15  merchants_inchigh             23375 non-null  float64
 16  merchants_inclow              23375 non-null  float64
 17  merchants_incmiddle           23375 non-null  float64
 18  merchants_ss40                23375 non-null  float64
 19  merchants_ss60                23375 non-null  float64
 20  merchants_ss65                23375 non-null  float64
 21  merchants_ss70                23375 non-null  float64
 22  merchants_food_accommodation  23375 non-null  float64
 23  merchants_retail              23375 non-null  float64
 24  state                         23375 non-null  object
 25  stateabbrev                   23375 non-null  object
 26  state_pop2019                 23375 non-null  object
 27  datetime                      23375 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(20), int64(4), object(3)
memory usage: 5.2+ MB

In [79]:
spending_per_state.head(1).append(spending_per_state.tail(1))

       year  month  day  ...  stateabbrev state_pop2019   datetime
3672   2020      3   13  ...           AL       4903185 2020-03-13
34577  2021     11   14  ...           WY        578759 2021-11-14

[2 rows x 32 columns]

In [80]:
covid_rate_per_state.head(1).append(covid_rate_per_state.tail(1))

       year  month  day  ...  stateabbrev  state_pop2019   datetime
2736   2020      3   13  ...           AL        4903185 2020-03-13
38741  2022      2   16  ...           WY         578759 2022-02-16

[2 rows x 34 columns]

In [81]:
revenue_per_state.head(1).append(revenue_per_state.tail(1))

       year  month  day  ...  stateabbrev  state_pop2019   datetime
3213   2020      3   13  ...           AL        4903185 2020-03-13
26587  2021      6   30  ...           WI        5822434 2021-06-30

[2 rows x 28 columns]

Manual inspection of data shows that cleaning has been successful. I thus continue to perform preliminary EDA

In [82]:
cols_of_interest = dict() #create dict where key is information type, and value is the list of columns to use that aren't indexs
cols_of_interest['covid'] = find_mutable_cols(covid_rate_per_state, protected_cols)
cols_of_interest['spending'] =  find_mutable_cols(spending_per_state, protected_cols)
cols_of_interest['revenue'] =   find_mutable_cols(spending_per_state, protected_cols)

# MODEL SELECTION- comparing model performance

## Simplest predictive model: Ordinary Least Squares Linear Regression with 2 input variables (new Covid-19 case rate and new Covid-19 death rate)

In [83]:
## MAIN SCRIPT THAT IS CALLED TO PERFORM LINEAR REGRESSION
def process_run_lin_reg(train_X_df,train_Y_df, test_X_df, test_Y_df, indep_vars, Y_variable):
  #TO: given a Test Data/Labels and Train Data/Labels, run linear regression on chosen values
  
  #transform DF into numpy array: Training set
  train_X_array, train_Y_var = prepare_data_linReg(train_X_df,train_Y_df, indep_vars, Y_variable)
  #transform DF into numpy array: Test set
  test_X_array, test_Y_var = prepare_data_linReg(test_X_df,test_Y_df, indep_vars, Y_variable)

  #run linear regression with numpy arrays of train and test sets
  linreg_r_squared, Y_full_prediction, residuals = run_linear_regression(train_X_array, train_Y_var,test_X_array, test_Y_var, indep_vars, Y_variable)

  return linreg_r_squared, Y_full_prediction, residuals
  #takes 2 DFs as input 

## LINEAR REGRESSION SUB FUNCTIONS
  #RUNS FIRST
def prepare_data_linReg(X_data,Y_data, indep_vars, Y_variable):
  #TO: given 2 data frames, and list of names to use, create 2 numpy arrays (for independent and predicted variable)
  #X_variable is list of keys for X_data df
  df_lengths = sorted([len(X_data), len(Y_data)]) #find which df is shorter 
  truncate_len = df_lengths[0]-1 
  Y_var = np.array(Y_data.loc[:truncate_len,Y_variable].copy())
  X_array = np.array(X_data.loc[:truncate_len,indep_vars].copy()) #rows are days, columns are features
  return X_array, Y_var

  #RUNS SECOND

def run_linear_regression(train_X, train_Y, test_X, test_Y,indep_vars, Y_variable):
  ## MAIN MODEL RUN HERE 
  reg = LinearRegression().fit(train_X,train_Y)
  Y_test_prediction = reg.predict(test_X)
  
  linreg_r_squared =  round(reg.score(test_X,test_Y),3) #calculates the r2
  #print(linreg_r_squared)
  #Y_full_prediction = reg.predict(X_array) #this is for the entire dataset, to be used for the plots
  residuals = test_Y- Y_test_prediction
  ## MODEL OUTPUTS R2, full prediction values,and residuals of prediction
  return linreg_r_squared, Y_test_prediction, residuals

In [84]:

def plot_linear_regression_on_state(Y_prediction, Y_var, state):
#INPUT: COVID is slice df of renue
  #revenue is econ info over time
  #revenue = create_rev_df(stateID_df, stateSBrevenue_df, state)
  #train on X and then test
  plt.figure(figsize=(18,18));
  fig, ax = plt.subplots();
  ax.plot(Y_prediction, color = 'r', label = 'Predicted SB Revenue');
  #plot with dates
  #ax.plot_date(mp_dates, Y_prediction, xdate = True, color = 'r', label = 'Predicted SB Revenue');
  ax.plot(Y_var, label = 'Real SB Revenue');
  plt.legend();
  plt.title(state + ' Linear Regression: Predict SB Revenue with covid spread. R^2 = ' + str(round(reg.score(X_array,Y_var), 2)));
  plt.xlabel('Days since National Emergency Declared');
  plt.ylabel(' Proportional Change in SB Revenue');
  return fig, ax

In [90]:
#run forloop to run and store
all_state_names = list(set(state_IDs.loc[:,'statename'])) #use set to extract unique values then combine into a list

Here I'm running simple linear regression, predicting **daily consumer spending** in each state, using each state's ** New Covid-19 Case Rate and New Covid-19 Death Rate **. 

The model is trained on every other day of data recorded, and tested on the remaining days. Performance is evaluated using R^2, which is a measure of the % of total variance in the variable of interest explainable by the modeled linear relationship between it and the independent variables. Essentially, it asks how much the independent variables appear to contribute to the dynamics of the dependent variables.

First, though, I need to test the 4 assumptions required for Linear Regression:

*  Homoscedacisity
*  Independence
*  Normality
*  Linearity

In [85]:
#assumption 1: Homoscedacisity

In [86]:
#assumption 2: independence
#assumption 4: linearity

In [104]:
# to make sure that the dates line up, you need to do an inner join to take the matching days of the predicted variable, and the predictor variable dataframes
join_covid_spending_revenue_df = dict() #this si a dict where every key (equal to state name) will refer to 1 df 

for state in all_state_names:
    #join_covid_spending_revenue_df[state] = covid_rate_per_state.set_index('datetime')
    #join_covid_spending_revenue_df[state] = pd.concat(covid_rate_per_state.loc[covid_rate_per_state['state']==state, :], spending_per_state.loc[ spending_per_state['state']==state,:], how = 'inner', left_index = True, right_on = 'datetime')
    join_covid_spending_revenue_df[state] = pd.merge(covid_rate_per_state.loc[covid_rate_per_state['state']==state, :], spending_per_state.loc[ spending_per_state['state']==state,:], how = 'inner', on = 'datetime')

join_covid_spending_revenue_df[state].tail()

     year_x  month_x  day_x  ...       state_y  stateabbrev_y  state_pop2019_y
601    2021       11      4  ...  South Dakota             SD           884659
602    2021       11      5  ...  South Dakota             SD           884659
603    2021       11      6  ...  South Dakota             SD           884659
604    2021       11      7  ...  South Dakota             SD           884659
605    2021       11     14  ...  South Dakota             SD           884659

[5 rows x 65 columns]

In [ ]:
#test out new prediction code on california, train on 2020, test on 2021
predict_california = []
residual_california = []
r2_california = []
indep_vars = ['new_death_rate','new_case_rate']
Y_variable = ['spend_all']
state = 'California'

#train with 2020

train_range_boolean_x = (covid_rate_per_state.loc[:,'year'] == 2020) & (covid_rate_per_state.loc[:, 'state']== state) #boolean takes intersection of desired STATE and desired YEAR
train_df_x = covid_rate_per_state.loc[train_range_boolean_x, :].copy().reset_index(drop = True)

train_range_boolean_y = (spending_per_state.loc[:,'year'] == 2020) & (spending_per_state['state']== state)
train_df_y = spending_per_state.loc[train_range_boolean_y , :].copy().reset_index(drop = True)

#test with 2021
test_range_boolean_x = (covid_rate_per_state.loc[:,'year'] == 2021) & (covid_rate_per_state.loc[:, 'state']== state) #boolean takes intersection of desired STATE and desired YEAR
test_df_x = covid_rate_per_state.loc[test_range_boolean_x, :].copy().reset_index(drop = True)

test_range_boolean_y = (spending_per_state.loc[:,'year'] == 2021) & (spending_per_state['state']== state)
test_df_y = spending_per_state.loc[test_range_boolean_y, :].copy().reset_index(drop = True)

r2_california, predict_california, residual_california = process_run_lin_reg(train_df_x, train_df_y, test_df_x, test_df_y, indep_vars, Y_variable) #requires test set and train set

In [ ]:
test_df_y[Y_variable].plot()
plt.plot(residual_california)
plt.plot(predict_california)
print(r2_california)


#### Training on 2020 data, testing on 2021 data
This next chunk is a loop that for each state, trains on "new death rate" and "new case rate" for that state and tries to use it to predict

In [ ]:

predictions_OLS = dict()# store state:Y prediction list
residuals_OLS = dict() #store it for assumption testing

r_2_linreg = list()
indep_vars = ['new_death_rate','new_case_rate']
Y_variable = ['spend_all']

for state in all_state_names:

    #train with 2020
    train_range_boolean_x = (covid_rate_per_state.loc[:,'month'] <7 )& (covid_rate_per_state.loc[:,'year'] == 2020) & (covid_rate_per_state.loc[:, 'state']== state) #boolean takes intersection of desired STATE and desired YEAR
    train_df_x = covid_rate_per_state.loc[train_range_boolean_x, :].copy().reset_index(drop = True)
    train_range_boolean_y = (spending_per_state.loc[:,'month'] < 7 )& (spending_per_state.loc[:,'year'] == 2020) & (spending_per_state['state']== state)
    train_df_y = spending_per_state.loc[train_range_boolean_y , :].copy().reset_index(drop = True)

    #test with 2021
    test_range_boolean_x =  (covid_rate_per_state.loc[:,'year'] == 2020) & (covid_rate_per_state.loc[:, 'state']== state) #boolean takes intersection of desired STATE and desired YEAR
    test_df_x = covid_rate_per_state.loc[test_range_boolean_x, :].copy().reset_index(drop = True)
    test_range_boolean_y = (spending_per_state.loc[:,'month'] >7 )& (spending_per_state.loc[:,'year'] == 2020) & (spending_per_state['state']== state)
    test_df_y = spending_per_state.loc[test_range_boolean_y, :].copy().reset_index(drop = True)

    #run model itself
    linreg_r_squared, predictions_OLS[state], residuals_OLS[state] = process_run_lin_reg(train_df_x, train_df_y, test_df_x, test_df_y, indep_vars, Y_variable) #requires test set and train set
    r_2_linreg.append(linreg_r_squared)

In [ ]:
#combine all of this into a table
data = np.array([all_state_names, r_2_linreg]).transpose()
df_model_performance_by_state = pd.DataFrame(data, columns = ['State Name', 'OLSR R2'])
df_model_performance_by_state.loc[:, 'OLSR R2'] =  df_model_performance_by_state.loc[:, 'OLSR R2'].astype('float')

In [ ]:
#assumption 3: normality
#Testing for normality of residuals
import statsmodels.api as sm
fig, ax = plt.subplots()
plt.plot(predictions_OLS['California']);

In [ ]:

plt.plot(spending_per_state.loc[spending_per_state['state'] == 'California', 'spend_all'])

In [ ]:

sm.qqplot(residuals_OLS['California'])

In [ ]:
df_model_performance_by_state

In [ ]:
df_model_performance_by_state.head()

Above is a slice of the table I created, listing 50 states and D.C. and the strength of the relationship between Covid Spread and personal Credit Card Spending from 2020-late 2021. As you can see, the range of R2 values varies widely, which is surprising. 

My Hypothesis was that the relationship between spending on a state level would be relatively similar across states. In other words, either the relationship between changes in Covid-19 rates, and changes in spending would be linearly related in a similar fashion across states, or that the relationship would be non-linear in a similar fashion across states. Instead, it appears that the relationship is linear in *some* states, but not others, which is unexpected. I further investigate potential reasons why.

In [ ]:
fig, axs =plt.subplots(1,2, figsize = (12,6))
# display distribution
sns.lineplot(x = df_model_performance_by_state.loc[:,'OLSR R2'].index,y =df_model_performance_by_state.loc[:,'OLSR R2'].values, ax = axs[0]);#, x = 'R2', binwidth = 5);
axs[0].set_title('Lineplot of Each State R2 value for OLSR');
sns.histplot(x = df_model_performance_by_state.loc[:,'OLSR R2'].values, ax = axs[1]);
axs[1].set_title('Distribution of R2 Values for OLSR');

## Comparing OLSR to Lasso Regression

It could be the case that additional factors besides case counts affect consumer spending. For example, spending rates might increase with vaccination rates, despite decreasing by some amount with case rates. To include more potentially informative variables while attempting to avoid issues with introducing redundant factors/colinearity, I will use Lasso regression, which introduces an L1 regularization term to the Cost Function, ideally driving coefficients for non-essential variables to zero.

I then compare the R^2 value of lasso regression on the full dataset, with ordinary least squares linear regression on the full dataset.

In [ ]:
def normalize_array(X_array, norm_method):
  #this assumes INPUT ARRAY is columns as features, rows as observations
  X_array_norm = np.empty(X_array.shape)
  if norm_method == 'none':
        pass
        #perform no normalization
  elif norm_method == 'zscore':
        #perform z scoring on the data
        X_array_norm[:,:] = sc.stats.zscore(X_array, axis = 0)

  elif norm_method == 'normalize':
        for i in np.arange(X_array.shape[1]):
          X_array_norm[:,i] = (X_array[:,i]- np.min(X_array[:,i]))/(np.max(X_array[:,i])- np.min(X_array[:,i]))

  return X_array_norm

def process_run_lasso_reg(X_data,Y_data, indep_vars, Y_variable, run_cross_val, norm_method):
    X_array, Y_var = prepare_data_linReg(X_data,Y_data, indep_vars, Y_variable)
    #switch case for normalization method
    
    
    lasso_model, lasso_reg_r_squared, Y_full_prediction, residuals= run_lasso_regression(X_array, Y_var, run_cross_val)

    return lasso_model, lasso_reg_r_squared, Y_full_prediction, residuals

def create_every_other_elem_split(X_array, Y_var):
  train_X =  X_array[0:-1:2,:] #take every other element (step size 2 from 0)
  test_X =  X_array[1::2,:] #take every other element (step size 2 from 1)
  train_Y = Y_var[0:-1:2] #take every other element (step size 2 from 0)
  test_Y = Y_var[1::2] #take every other element (step size 2 from 1)
  return train_X, test_X, train_Y, test_Y

def run_lasso_regression(X_array, Y_var,run_cross_val):
  #create test train split by taking random 50%
  train_X, test_X, train_Y, test_Y= create_every_other_elem_split(X_array, Y_var)

  if run_cross_val:
    lasso_reg = linear_model.LassoCV(cv = 10, tol=0.01, max_iter = 2000) #Cross-val- instantiate lasso class 
    lasso_reg_model = lasso_reg.fit(train_X,train_Y.ravel())
    Y_test_prediction = lasso_reg.predict(test_X)
    lasso_reg_r_squared =  round(lasso_reg.score(test_X,test_Y.ravel()),3) #calculates the r2

  else:
    lasso_reg = linear_model.Lasso(alpha = 0.1) #instantiate lasso class 
    lasso_reg_model = lasso_reg.fit(train_X,train_Y)
    Y_test_prediction = lasso_reg.predict(test_X)
    lasso_reg_r_squared =  round(lasso_reg.score(test_X,test_Y),3) #calculates the r2

  residuals = test_Y - Y_test_prediction
  Y_full_prediction = lasso_reg.predict(X_array) #this is for the entire dataset, to be used for the plots
  return lasso_reg, lasso_reg_r_squared, Y_full_prediction, residuals

In [ ]:
#cross validate params on one dataset to determine appropriate alphs
indep_vars = cols_of_interest['covid'] #expanding breadth of variables used 
Y_variable = ['spend_all']
run_cross_val = True
#create storage variables for model and predictions
r_2_lasso = list()
predictions_lasso = dict()
residuals_lasso = dict()
lasso_model_by_state = dict()

# create cutoff for date input

for state in all_state_names:

  covid = covid_rate_per_state.loc[covid_rate_per_state.loc[:, 'state']== state, :].copy().reset_index(drop = True)
  spending = spending_per_state.loc[spending_per_state['state']== state, :].copy().reset_index(drop = True)

  lasso_model_by_state[state], lasso_reg_r_squared, predictions_lasso[state], residuals_lasso[state] = process_run_lasso_reg(covid,spending, indep_vars, Y_variable,run_cross_val)
  r_2_lasso.append(lasso_reg_r_squared)

df_model_performance_by_state.loc[:, 'LASSO R2'] = r_2_lasso

In [ ]:
# plot performance
fig, axs =plt.subplots(1,2, figsize = (12,6))
# display distribution
sns.lineplot(x = df_model_performance_by_state.loc[:,'LASSO R2'].index,y =df_model_performance_by_state.loc[:,'LASSO R2'].values, ax = axs[0]);#, x = 'R2', binwidth = 5);
axs[0].set_title('Lineplot of Each State R2 value for Lasso');
sns.histplot(x = df_model_performance_by_state.loc[:,'LASSO R2'].values, ax = axs[1]);
axs[1].set_title('Distribution of R2 Values for Lasso Reg.');

Lasso is clearly better at predicting values using covid spread. The question is, is it using the variables 'correctly'?

To answer this, we dive into the parameters used by lasso regression, extracting importance by state and plotting that matrix:

In [ ]:
len(all_state_names)

In [ ]:
lasso_coeffs_array = np.empty((len(all_state_names),lasso_model_by_state[state].coef_.shape[0]))
for i, state in enumerate(all_state_names):
  coeffs = lasso_model_by_state[state].coef_
  lasso_coeffs_array[i, :] = coeffs
lasso_coeffs_array.shape

In [ ]:

lasso_feature_coeff_df = pd.DataFrame(lasso_coeffs_array, columns = indep_vars, index = all_state_names)
lasso_feature_coeff_df.head()

In [ ]:
df_model_performance_by_state['LASSO-OLSR R2 Delta'] =  df_model_performance_by_state.loc[:,'LASSO R2'].values -  df_model_performance_by_state.loc[:,'OLSR R2'].values

#import CSV of all states
states_by_region = 'https://raw.githubusercontent.com/cphalpert/census-regions/master/us%20census%20bureau%20regions%20and%20divisions.csv'
allstates_df = pd.read_csv(states_by_region)
allstates_df= allstates_df.drop(allstates_df.index[7]).copy()
allstates_df.head()

df_model_performance_by_state = pd.merge(df_model_performance_by_state, allstates_df, left_on = 'State Name', right_on = 'State').drop(axis = 1, labels = ('State Name'))
df_model_performance_by_state.head(2)

In [ ]:

#create boxplot of state values by region
fig, ax = plt.subplots(1,2, figsize = (15,7))
g= sns.stripplot(x = 'Region', y = "LASSO R2", data = df_model_performance_by_state, size = 8, ax = ax[0]);
ax[0].tick_params(labelsize=15)
ax[0].xaxis.label.set_fontsize(20)
ax[0].yaxis.label.set_fontsize(20)
ax[0].set_title('R2 distrib. by Region- Lasso (all params)', fontsize=15);

g= sns.stripplot(x = 'Region', y = "OLSR R2", data = df_model_performance_by_state, size = 8, ax = ax[1]);
ax[1].tick_params(labelsize=15)
ax[1].xaxis.label.set_fontsize(20)
ax[1].yaxis.label.set_fontsize(20)
ax[1].set_title('R2 distrib. by Region- OLSR', fontsize=15);

In [ ]:
## TO DO:
#open parameters to evaluate what lasso promoted
#certain features increase monotonically



Further analysis will attempt to understand if temporal factors affect the relationship between these variables. I will partition the dataset into distinct phases: pre-vaccine, post-vaccine, post-Delta. It may be the case that consumer attitudes shift as a result of weariness. I will also incorporate polling data surrounding "covid fatigue"

## Decision Tree Regression